
#paginaUno h1{
      /* S.O.S Mujeres */
    
    
    position: 150px;
    width: 317px;
    height: 162px;
    left: 110px;
    top: 284px;
    margin-top: 100px;
    margin-bottom: 10px; 
    margin-left: 70px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    color: #985762;
  }
#paginaUno h2{
    position: 100px;
    width: 1009px;
    height: 56px;
    left: 110px;
    top: 512px;
    margin-left: 70px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    
    color: #E87590;
}

#paginaUno button:hover {
  background-color: #E8D76B;
  color: #9C7C00;
}
#paginaUno button {
  position: 100px;
  width: 357px;
  height: 102px;
  left: 110px;
  top: 619px;
  margin-left: 70px;
  
  background: #E2BEBE;
  border-radius: 50px;
  font-size: 150%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  text-align: center;

  color: #985762;
  border:#985762;
}

#paginaDos{
  display: none;
}

#paginaDos h1 {
position: 150px;
width: 723px;
height: 59px;
left: 43px;
top: 139px;
margin-left: 70px;
margin-top: 100px;


font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;

color: #E87590;

}
#paginaDos input[type = "text"] {
  position: 150px;
  width: 643px;
  height: 40px;
  left: 143px;
  top: 237px;
  margin-left: 70px; 
  
  background: #E2BEBE;
  border:#E2BEBE;
  border-radius: 11px;
}
#paginaDos h2 {
  position: 150px;
  width: 723px;
  height: 59px;
  left: 143px;
  top: 393px;
  margin-left: 70px; 


  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;

  color: #E87590;

}

#paginaDos input[type = "number"]{
  position: 150px;
  width: 231px;
  height: 40px;
  left: 143px;
  top: 508px;
  margin-left: 70px; 
  
  background: #E2BEBE;
  border:#E2BEBE;
  border-radius: 11px;
  
}


#paginaDos button[type = "submit"]:hover {
  background-color: #E8D76B;
  color: #9C7C00;
}

#paginaDos button[type = "submit"]{
  position: 100px;
  width: 222px;
  height: 72px;
  left: 857px;
  top: 635px;
  margin-left: 250px;

  background: #E87590;
  border:#E87590;
  border-radius: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 56px;
  text-align: center;

color: #985762;
  
}

#paginaTres{
  display: none;
}

