
#paginaUno h1{
      /* S.O.S Mujeres */
    
    
    position: 150px;
    width: 317px;
    height: 162px;
    left: 110px;
    top: 284px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    color: #985762;
  }
#paginaUno h2{
    position: 100px;
    width: 1009px;
    height: 56px;
    left: 110px;
    top: 512px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    
    color: #E87590;
}
   
#paginaUno button {
  position: 100px;
  width: 357px;
  height: 102px;
  left: 110px;
  top: 619px;
  
  background: #E2BEBE;
  border-radius: 50px;
  font-size: 150%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;

  color: #985762;

}

#paginaDos{
  display: none;
}

#paginaDos h1 {
  position: 150px;
width: 723px;
height: 59px;
left: 143px;
top: 139px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;

color: #E87590;

}
#paginaDos input[type = "text"] {
  position: 150px;
  width: 643px;
  height: 76px;
  left: 143px;
  top: 237px;
  
  background: #E2BEBE;
  border-radius: 15px;
}
#paginaDos h2 {
  position: 150px;
  width: 723px;
  height: 59px;
  left: 143px;
  top: 393px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;

  color: #E87590;

}

#paginaDos input[type = "number"]{
  position: 150px;
  width: 231px;
  height: 73px;
  left: 143px;
  top: 508px;
  
  background: #E2BEBE;
  border-radius: 15px;
  
}
